spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/products
    username: postgres
    password: mysecretpassword
  liquibase:
    change-log: classpath:liquibase/changelog-master.yml
  jmx:
    enabled: true
  rabbitmq:
    host: localhost
    username: guest
    password: guest
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 3s
          max-attempts: 5
          max-interval: 5s
          multiplier: 1
        missing-queues-fatal: false
    queue:
      rating: RATING_Q
      rating-dlq: RATING_DLQ
      category: CATEGORY_Q
      category-dlq: CATEGORY_DLQ
      subscribe:  SUBSCRIBE_Q
      subscribe-dlq: SUBSCRIBE_DLQ

logging:
  level:
    root: INFO
